{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 experiences-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">{{ .section.name }}</h1>
  {{ end }}
  
    <div class="container timeline text-justify">
     {{ $totalPublications:= len .publicationList }}
     {{ range $indexPub,$publication:= .publicationList }}
       {{ if eq (mod $indexPub 2) 0 }}
         <div class="row align-items-center  d-flex">
           {{ partial "sections/publications/vertical-line2.html" $indexPub }}
           {{ partial "sections/publications/publication-info.html" $publication }}
         </div>
       {{else}}
         <div class="row align-items-center justify-content-end d-flex">
           {{ partial "sections/publications/publication-info.html" $publication }}
           {{ partial "sections/publications/vertical-line2.html" $indexPub }}
         </div>
       {{ end }}
       {{ if lt $indexPub (sub $totalPublications 1) }}
         {{ partial "sections/publications/horizontal-line2.html" $indexPub }}
       {{ end }}
     {{ end }}
    </div>
</div>
